@{
    ViewData["Title"] = "About";
}
@using eureka.Models;
@using System.Linq;
@using System.Collections.Generic;
@using System;

<h3>Hi @ViewBag.uname!</h3>

<form action="/newidea" method="post">
    <input type="text" name="idea">
    <input type="submit" value="Idea!">
</form>
@foreach(var idea in @ViewBag.ideas)
{
    
    <p> <a href="/profile/@idea.origin.userID">@idea.origin.first</a> says: @idea.idea - 
    @if(@ViewBag.uid == @idea.userID){<a href="delete/@idea.ideaid">delete</a>}</p>
    <p> <a href="/like/@idea.ideaid">Like</a>  --   <a href="/display/@idea.ideaid">@idea.liked.Count people</a> like this</p> 
}
